<h1>New product</h1>
<a href="http://stackoverflow.com/questions/33605403/receiving-the-error-couldnt-find-product-with-id-5-when-i-click-on-view-cart" target="_blank"> Check This For That Error</a>
<%= render 'form' %>

<%= link_to 'Back', products_path %>

